<ion-view>
    <ion-content class="login-page" scroll="false" horizontal layout>
        <div flex class="slide-form balanced-bg" vertical layout>
            <div horizontal layout center-justified center class="welcome">
                <span translate="WELCOME"></span> <i class="ion-happy-outline"></i>
            </div>
            <div flex style="position: relative">
                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                    <ion-slide>
                        <div class="box">
                            <img src="./img/39970046984947.5607ee014dc83.png" alt=""/>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box">
                            <img src="./img/39970046984947.5607ee014dc83.png" alt=""/>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box">
                            <img src="./img/39970046984947.5607ee014dc83.png" alt=""/>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <div class="login-form" vertical layout>
            <div class="title-login">
                <span translate="SIGNIN" ng-class="{active: data.view == 1}" ng-click="viewLogin(1)"></span>
                <select-language class="pull-right" style="padding: 14px"></select-language>
                <span class="pull-right" translate="SIGNUP" ng-class="{active: data.view == 2}" ng-click="viewLogin(2)"></span>
            </div>
            <div class="padding-8" flex>
                <div ng-if="data.view == 1">


                    <form name="formLogin" ng-submit="login()">
                        <div class="input-login padding-8">
                            <input type="text" placeholder="{{'EMAIL' | translate}}" ng-model="data.user.email" required/>
                        </div>
                        <div class="input-login padding-8">
                            <input type="password" placeholder="{{'PASSWORD' | translate}}" ng-model="data.user.password" required/>
                        </div>
                        <div class="padding-8 button-login">
                            <button class="button button-light" ng-disabled="!formLogin.$valid" translate="SIGNIN">

                            </button>
                        </div>
                    </form>
                    <div class="padding-8 text-center" ng-click="viewLogin(3)" translate="FORGOT_PASSWORD">

                    </div>
                </div>
                <div ng-if="data.view == 2">
                    <form name="formSignUp" ng-submit="signUp()">
                        <div class="input-login padding-8">
                            <input type="text" placeholder="{{'EMAIL' | translate}}" ng-model="data.newUser.email" required/>
                        </div>
                        <div class="input-login padding-8">
                            <input type="password" placeholder="{{'PASSWORD' | translate}}" ng-model="data.newUser.password" required/>
                        </div>
                        <div class="padding-8 button-login">
                            <button class="button button-light" ng-disabled="!formSignUp.$valid" translate="SIGNUP">

                            </button>
                        </div>
                    </form>
                </div>

                <div ng-if="data.view == 3">
                    <form name="formForgot" ng-submit="forGotMail()">
                        <div class="input-login padding-8">
                            <input type="text" placeholder="{{'EMAIL' | translate}}" ng-model="data.forgot.email" required/>
                        </div>
                        <div class="padding-8 button-login">
                            <button class="button button-light" ng-disabled="!formForgot.$valid" translate="RESET_PASS">

                            </button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="padding-8 social-login">

                <div class="padding-8 button-login">
                    <button class="button button-positive" ng-click="login('facebook')">
                        <i class="ion-social-facebook-outline"></i> Facebook
                    </button>
                </div>

                <div class="padding-8 button-login">
                    <button class="button button-positive">
                        <i class="ion-social-instagram-outline"></i> Instagram
                    </button>
                </div>

                <div class="padding-8 button-login">
                    <button class="button button-positive">
                        <i class="ion-social-googleplus-outline"></i> Google
                    </button>
                </div>

                <div class="padding-8 button-login">
                    <button class="button button-positive">
                        <i class="ion-social-twitter-outline"></i> Twitter
                    </button>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>